<br>
<div  class="container-fluid ">
<div *ngIf="condition" class="main-content" >
        <div class="row " >
            <div class="col-sm-2"></div>
        <div class="col-sm-8 scroll " >
        <div class="card"  >
          <div class="card-header text-center">
            <h5 class="title"><i>Service & Billing information</i></h5>
          </div>  
          <div class="card-body">
              <h6 class="card-title"><u><i>Patient's Information</i></u></h6>
           <div class="row">   
          <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Patient's Name(Last)</label>
                <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                <input type="text" [(ngModel)]="this.details.last" id="ip2" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="col-md-5 p1-1">
                <div class="form-group">
                  <label>Patient's Name(First)</label>
                  <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                  <input type="text" [(ngModel)]="this.details.first" id="ip2"class="form-control"  placeholder="First Name">
                </div>
              </div>
           </div>
           </div>
                <hr>
          <div class="card-body">
              <h6 class="card-title"><u><i>Physician's Information</i></u></h6>
           <div class="row">   
          <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Rendering Provider ID*</label>
                <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                <input type="text"  id="ip2"class="form-control" placeholder="Rendering Provider ID" list="staticUserIds" value="2382348711">
                <datalist id="staticUserIds">
                    <option>2382348711</option>
                    <option>2382348712</option>
                  </datalist>
              </div>
            </div>
            <div class="col-md-5 p1-1">
                <div class="form-group">
                  <label>Federal Tax ID Number</label>
                  <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                  <input type="text" [(ngModel)]="details.tax_id_num" id="ip2"class="form-control" placeholder="Federal Tax ID Number" list="staticUserIds1" value="XY1823828378">
                  <datalist id="staticUserIds1">
                      <option>XY1823828378</option>
                      <option>XY1823828376</option>
                    </datalist>
                </div>
              </div>
           
              <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Billing Provider ID</label>
                    <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                    <input type="text" [(ngModel)]="value" id="ip2"class="form-control" placeholder="Billing Provider ID" list="staticUserIds2" value="">
                    <datalist id="staticUserIds2">
                        <option>112233448</option>
                        <option>112233449</option>
                      </datalist>
                  </div>
                </div>
                <div class="col-md-5 pr-1">
                    <div class="form-group">
                      <label>Service Area ZIP Code*</label>
                      <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                      <input type="text" [(ngModel)]="details.service_area_zip" id="ip2" class="form-control"enabled placeholder="ZIP Code"  value="">
                    </div>
                  </div>
           </div>
           </div>
           <hr>
          <div   class="card-body">
           
              <h6 class="card-title"><u><i>Service Information</i></u></h6>
              <div *ngFor="let block of services;index as i">
              <p class="card-subtitle text-center"><i><b>Service {{i+1}}</b></i></p>
              <div class="row">
              <div class="col-md-4">
                  <div >
                      <label>Date(s) Of Service</label>
                    <mat-form-field>
                        <input   matInput [matDatepicker]="picker" [(ngModel)]="block.service_from_date" placeholder="From">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                    <label>Date(s) Of Service</label>
                    <mat-form-field>
                        <input  [(ngModel)]="block.service_through_date" matInput [matDatepicker]="picker1" placeholder="To">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col-md-4">
                    <label>Place Of Service</label>
                    <input type="text" [(ngModel)]="block.place_of_service" id="ip2"class="form-control" placeholder="POS" value="">
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <label>CPT/HCPCS</label>
                    <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                    <input type="text" [(ngModel)]="block.procedure_code" id="ip2"class="form-control" placeholder="Procedure,Services or supplies" list="staticUserIds4" >
                    <datalist  id="staticUserIds4">
                        <option>	G0438-Annual Wellness Visit	</option>
<option>	P3000-Pap Smear	</option>
<option>	G0102-Prostate Cancer Screening	</option>
<option>	G0104-Colorectal Cancer Screening	</option>
<option>	77067-Mammography Screening	</option>
<option>	G0120-Colonoscopy	</option>
<option>	V5008-Hearing Screening	</option>
<option>	H0049-Alocohol and Drug Screening	</option>
<option>	S0610-Annual Gynecological Exam New Patient	</option>
<option>	S0612-Annual Gynecological Exam Established Patient	</option>
<option>	Q2034-Influenza Virus Vaccine	</option>
<option>	90632-Hepatitis A Vaccine	</option>
<option>	90636-Hepatitis A and Hepatitis B Vaccine Adult	</option>
<option>	90723-Diptheria, Tetanus Toxoids, Acellular Pertussis Vassine	</option>
<option>	G0402-Initial Preventive Physical Exam	</option>
<option>	99381-Preventive Med Services; Initial Visit; New Patient	</option>
<option>	99213-Visit-Office/Other Outpt, 	</option>
 
                            
                       
                      </datalist>
                  </div>
                </div>
                <div class="col-md-3 px-1">
                  <div class="form-group">
                    <label>Diagnosis Code</label>
                    <input type="text" [(ngModel)]="block.diagnosis_code_line" id="ip2" class="form-control" placeholder="Diagnosis Code" list="staticUserIds3" value="">
                    <datalist  id="staticUserIds3">
                        <option>	Z0000	-	Encounter for General Adult Medical Examination	</option>
<option>	Z01239-Encounter for Other Screening for Malignant Neoplasam of Breask	</option>
<option>	Z01239-Encounter for Other Screening for Malignant Neoplasam of Breask	</option>
<option>	Z0141-Encounter for Routine Gyneocological Exam	</option>
<option>	Z0141-Encounter for Routine Gyneocological Exam	</option>
<option>	Z0012-Encounter for Routine Child Health Examination	</option>

                      </datalist>
                  </div>
                </div>
                
                  <div class="col-md-2 px-1">
                      <div class="form-group">
                        <label>Days or Units</label>
                        <input type="text" [(ngModel)]="block.number_of_units" id="ip2" class="form-control" placeholder="days or units" value="1">
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                          <label>Charge</label>
                          <input type="text" [(ngModel)]="block.billed_amount"  id="ip2" class="form-control" placeholder="billed amount" value="">
                        </div>
                      </div>
              </div>
              
          </div>
          <div  class="row" >
              <div  class="col-sm-3" ></div>
         <div  class="col-sm-8" >
          <button mat-raised-button (click)="addService()"><i>Add Service +</i></button>&nbsp;&nbsp;
          <button mat-raised-button (click)="getProviderDetails()"><i>Submit Services for Payment</i></button>&nbsp;&nbsp;
          <button mat-raised-button (click)="back()"><i>Back</i></button>
          </div>
        </div>
        </div>
      </div>
      
      </div>
    </div>
</div>

<ng4-loading-spinner [timeout]="99000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>
<app-getpaid *ngIf="!condition"></app-getpaid>