<div class="container-fluid">
  <div class="row" style="padding: 15px;">
    <div class="col-sm-12" style="font-weight: bold;">Member Visits</div>
    <div class="col-sm-12">{{this.today}}</div>
    <div class="row col-sm-12" style="text-align: center;">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <div class="row data">
          <img style="width: 100px;" src="./assets/user.PNG"/>
          <p style="font-size: 42pt;" class="information">{{this.reJSON.num_qrs_scanned}}</p>
          <div>  Member Visits</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row data">
          <img style="width: 100px;" src="./assets/payment.PNG"/>
          <p style="font-size: 42pt;" class="information">{{this.reJSON.num_successful_payments}}</p>
          <div>  Received Payments</div>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-12">
    <div style="padding-top: 50px;">
      <mat-list>
        <mat-list-item>
          <div style="width: 100%; font-weight: bold;" class="row">
            <div class="col-sm-4">
              Member ID
            </div>
            <div class="col-sm-4">
              Member Name
            </div>
            <div class="col-sm-4">
              Status
            </div>
          </div>
        </mat-list-item>
        <mat-list-item *ngFor="let patient of JSON; let i = index" (contextmenu)="onRightClick($event, patient)">
          <div style="width: 100%" class="patient-list row">
            <div class="col-sm-4">
              {{patient.member_id}}
            </div>
            <div class="col-sm-4">
              {{patient.firstname}} {{patient.lastname}}
            </div>
            <div class="col-sm-4">
              {{patient.firstname}}
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <div style="visibility: hidden; position: fixed"
        [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y"
        [matMenuTriggerFor]="contextMenu">
      </div>
      <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-item="item">
          <button mat-menu-item (click)="getBenefits(item)">Benefits</button>
          <button mat-menu-item (click)="submitService(item)">Submit Service</button>
          <button mat-menu-item (click)="getPayments(item)">Payments</button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
  <!-- <div class="col-sm-6">
    <canvas id="chart" width="700" height="400"></canvas>
  </div> -->
</div>
</div>
<ng4-loading-spinner [timeout]="20000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>